<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Around Search</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="icon" href="../static/img/left_32.ico">
  <link rel="apple-touch-icon" sizes="151x151" href="../static/img/left_151.png">
  <link rel="stylesheet" href="../static/styles_input.css">
</head>

<body>
  <div class="container">

    <header>
      {% if g.user %}
      <div class="navibar">
        <a class="item1" href="{{ url_for('bp_pages.index_pages') }}">Pages &raquo;</a>
        <a class="item2" href="{{ url_for('bp_auth.logout') }}">ログアウト</a>
        <p class="item3">{{ g.user['username'] }}</p>
      </div>
      {% else %}
      <div class="navibar">
        <a href="{{ url_for('bp_auth.create_user') }}">新規登録</a>
        <a href="{{ url_for('bp_auth.login') }}">ログイン</a>
      </div>
      {% endif %}
      <div class="row">
        <div class="col-md-12 title">
          <a href="/">
            <i class="fas fa-align-left d-inline-block"></i>
            <h1>Around Search</h1>
          </a>
        </div>
      </div>
    </header>

    <div class="row">
      <div class="col-md-12 div-form">
        <!-- <form class="form-inline my-2 my-lg-0" method="post" action="{{ url_for("output") }}>
          <input name="keyword" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->

        <form class="form-inline form-input-go" method="post" action="{{ url_for("output") }}">
          <label class="sr-only" for="#">Search</label>
          <input name="keyword" type="search" class="form-control mr-sm-2 go-frame" placeholder="Go !" id="#">
          <button type="submit" class="btn btn-outline-success">Search</button>
        </form>
      </div>

    </div>

    <div class="row">
      <hr class="hl">
    </div>

    <div class="row headline">
      {% for category, message in get_flashed_messages(with_categories=true) %}
      <div class="{{ category }}">{{ message }}</div>
      {% endfor %}
      <div class="below_message"></div>
    </div>


    {% if g.user %}
    <div class="row headline">
      <h2>設定したPagesの一覧です</h2>
      {% if pages %}
      {% for pg in pages %}
      <p class="a_setted_own"><a href="{{ pg.page_url }}" target="_blank">{{ pg.page_title }}</a></p>
      {% endfor %}
      {% else %}
      <p>Pageはまだありません</p>
      <p>下のリンクから追加してみよう</p>
      {% endif %}
      <div class="guide_div guide-pages">
        <a class="guiding" href="{{ url_for('bp_pages.index_pages') }}">Pageの追加・削除</a>
      </div>
    </div>

    <div class="row">
      <hr class="hl">
    </div>

    <div class="row headline">
      <p><a href="https://ja.wikipedia.org/wiki" target="_blank">Wikipedia</a> | <a href="https://kotobank.jp"
          target="_blank">コトバンク</a> | <a href="https://dictionary.goo.ne.jp" target="_blank">goo 辞書</a> | <a
          href="https://matome.naver.jp" target="_blank">Naverまとめ</a></p>
      <p><a href="https://chiebukuro.yahoo.co.jp" target="_blank">Yahoo! 知恵袋</a> | <a href="https://oshiete.goo.ne.jp"
          target="_blank">教えて! goo</a> | <a href="https://qiita.com" target="_blank">Qiita</a></p>
      <p><a href="https://teratail.com" target="_blank">teratail</a> | <a href="https://ja.stackoverflow.com"
          target="_blank">Stack Overflow</a> | <a href="https://news.google.com/?hl=ja&gl=JP&ceid=JP:ja"
          target="_blank">Google ニュース</a></p>
      <p><a href="https://twitter.com" target="_blank">Twitter</a> | <a href="https://www.youtube.com"
          target="_blank">YouTube</a></p>
    </div>
    {% else %}
    <div class="row headline">
      <h2>ピックアップされた12のWebページを検索します</h2>
      <p><a href="https://ja.wikipedia.org/wiki" target="_blank">Wikipedia</a> | <a href="https://kotobank.jp"
          target="_blank">コトバンク</a> | <a href="https://dictionary.goo.ne.jp" target="_blank">goo 辞書</a> | <a
          href="https://matome.naver.jp" target="_blank">Naverまとめ</a></p>
      <p><a href="https://chiebukuro.yahoo.co.jp" target="_blank">Yahoo! 知恵袋</a> | <a href="https://oshiete.goo.ne.jp"
          target="_blank">教えて! goo</a> | <a href="https://qiita.com" target="_blank">Qiita</a></p>
      <p><a href="https://teratail.com" target="_blank">teratail</a> | <a href="https://ja.stackoverflow.com"
          target="_blank">Stack Overflow</a> | <a href="https://news.google.com/?hl=ja&gl=JP&ceid=JP:ja"
          target="_blank">Google ニュース</a></p>
      <p><a href="https://twitter.com" target="_blank">Twitter</a> | <a href="https://www.youtube.com"
          target="_blank">YouTube</a></p>
    </div>
    {% endif %}

    {% if not g.user %}
    <div class="row">
      <hr class="hl">
    </div>

    <div class="row headline">
      <h2>新規登録(ログイン)すると自分好みに検索するWebページを設定できるようになります</h2>
      <div class="guide_div">
        <a class="guiding" href="{{ url_for('bp_auth.create_user') }}">新規登録はこちらから</a>
        <a class="guiding" href="{{ url_for('bp_auth.login') }}">ログイン</a>
      </div>
    </div>
    {% endif %}

    <div class="row">
      <hr class="hl">
    </div>

    <div class="row headline">
      <h2>調べたいWebサイトを厳選、比較し効率的な検索を可能にします</h2>
    </div>

    <div class="row">
      <hr class="hl">
    </div>

    <div class="footer">
      <p>お問い合わせ(準備中)</p>
    </div>

    <div class="footer footer-low">
      <p>&copy; Misprochef</p>
    </div>

  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>