<!-- wikipediaのハートレールver -->
<div class="col-md-4">
  <div class="card" style="width: 15rem;">
    <a href="https://ja.wikipedia.org/wiki/{{keyword}}">
      <img src="https://capture.heartrails.com/400x504?https://ja.wikipedia.org/wiki/{{keyword}}" alt="">
      <div class="card-body">
        <p class="card-text">
          Wikipedia
        </p>
      </div>
    </a>
  </div>
</div>

<!-- デフォルトver -->
<div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <a href="/">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
      <div class="card-body">
        <p class="card-text">
          {{keyword}}
        </p>
      </div>
    </a>
  </div>
</div>

<!-- YouTubeのハートレール -->
<div class="col-md-4">
  <a href="https://www.youtube.com/results?search_query={{keyword}} " target="_blank">
    <div class="card-header bg-white border-white text-secondary">
      <i class="fab fa-youtube" style="color: #F00"></i>
      YouTube
    </div>
    <img src="https://capture.heartrails.com/400x450?https://www.youtube.com/results?search_query={{keyword}}" alt="YouTubeの検索結果へGo">
  </a>
</div>
